html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container {
    width: 824px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}



.container::-webkit-scrollbar {
    display: none;
}

.inner-container {
    display: flex;
    gap: 10px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    scroll-behavior: smooth;
}

.item {
    width: 186px;
    min-width: 186px;
    height: 160px;
    background-color: aquamarine;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 490px;
    left: 50%;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px black solid;
    cursor: pointer;
    z-index: 3;
}

.dot:hover {
    background-color: black;
}